html,body,
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f6f7f7;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
}

body {
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
}

p {
    margin: 0;
    padding: 0;
}

#content {
    font-family: "Share Tech Mono", monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

#content img{    
    width: 350px;
    height: 350px;
    border-radius: 2%;
    box-shadow: 0 0 15px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

#clock .time {
    letter-spacing: 0.05em;
    font-size: 60px;
    padding: 5px 0;
}

#clock .date {
    letter-spacing: 0.1em;
    font-size: 40px;
}

#clock .text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}

#greeting p {
    letter-spacing: 0.05em;
    font-size: 60px;
    padding: 5px 0;
}